*{
    box-sizing: border-box;
}

body{
    background-image: url(https://i.postimg.cc/qv90nc9Q/vintage-wallpaper.png);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #A1B5FF;
}

:root{
    --text-color: #A1B5FF;
    --hover-color: rgb(107, 139, 253);
}

/*box*/
.box{
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow .2s;
}

.box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

img[src="https://i.postimg.cc/FH5y18TK/romjan.jpg"]{
    border-radius: 50%;
    border: 4px solid #2C5091;
    width: 100px;
    height: auto;
    float: left;
}

.name{
    display: inline-block;
    line-height: 10px;
    clear: both;
}

.active{
    display: none;
}
/*link*/
.links{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

li a{
    display: block;
    text-decoration: none;
    color: #A1B5FF;
    padding: 8px 24px;
    margin-top: 10px;
}

li a:hover{
    color: rgb(107, 139, 253);
}

/*GET IN CONTACT*/
.go-contact{
    text-align: center;
    text-transform: uppercase;
    border: 2px solid var(--hover-color);
    border-radius: 8px;
}

.go-contact a{
    display: block;
    color: Var(--text-color);
    text-decoration: none;
    padding: 10px;
}

/*skills*/
.skills{
    margin-top: 100px;
    display: block;
    padding: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 6px 10px 0 var(--text-color);
    margin-bottom: 30px;
}

.web, .graphic{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.graphic{
    margin-top: 50px;
}

.web img{
    width: 10%;
    height: auto;

}

.graphic img{
    width: 10%;
    height: auto;
}

/*recent work*/
.recent{
    display: block;
    background-color: white;
    padding-bottom: 30px;
}

.h{
    padding: 20px;
    padding-top: 50px;
    color: var(--hover-color)
}

.recent img{
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 5px;
}
.first, .second, .third{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.first img{
    width: 20%;
    height: auto;
}

.second img{
    width: 40%;
    height: auto;
}

.third img{
    height: auto;
}

/*contact*/
.contact{
    margin-top: 100px;
    width: 96%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.contact-me{
    text-transform: uppercase;
    font-size: 40px;
}

span.icon img{width: 16px;
    height: auto;
    margin-right: 10px;
}

div.contact a{
    text-decoration: none;
    color: inherit;
    line-height: 20px;
}

div.contact a:hover{
    color: var(--hover-color)
}

/*form*/
.form{
    margin-top: 80px;
}

input#name, input#submit{
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgba(161, 181, 255, 0.267);
    border: none;
    color: white;
    margin-bottom: 10px;
}

input#name[placeholder], textarea#message[placeholder]{
    font-style: italic;
    color: white;
}

textarea#message{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgba(161, 181, 255, 0.267);
    border: none;
    color: white;
    margin-bottom: 10px;
}

input#submit, footer{
    background-color: rgba(6, 20, 70, 0.801);
    color: var(--text-color);
    text-align: center;
}

input#submit:hover{
    border: 2px solid #A1B5FF;
    border-radius: 4px;
}

/*footer*/
footer{
    font-size: small;
    padding: 20px;
    margin-top: 100px;
}



@media screen and (min-width: 800px){
    img[src="https://i.postimg.cc/FH5y18TK/romjan.jpg"]{
        float: none;
        width: 150px;
        height: auto;
        top: 0;
        margin-top: 20px;
    }

    .myname{
        font-size: x-large;
    }

    .activity{
        font-size: small;
    }

    .active{
        font-size: larger;
        display: block;
        letter-spacing: 0.3px;
        line-height: 20px;
        color: #9ec3f7;
    }

    .box{
        width: 200px;
        margin-left: 20px;
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .link{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    br{
        display: none;
    }

    .myself{
        display: inline-block;
        width: 50%;
        position: relative;
        top: 180px;
        left: 35%;
        margin-bottom: 150px;
    }

    .go-contact{
        float: left;
    }
    .contact-form{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .contact{
        margin-left: 5%;
        margin-right: 5%;
    }

    .form{
        margin-right: 5%;
        width: 100%;
    }
}